<!doctype html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Coding Template</title>
  <link rel="stylesheet" type="text/css" href="bundle.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <div class="row">
      <input v-model.number="num1" type="number"></input>
      <select v-model="selected">
        <option v-for="op in operators" v-bind:value="op" :selected="selected === op">
          {{ op }}
        </option>
      </select>
      <input v-model.number="num2" type="number"></input>
      <span>=</span>
      <span>{{ sum }}</span>
    </div>
  </div>
    
  <script src="bundle.js"></script>
</body>
</html>
